.footer{
    background:#000;
    padding:30px 0;
    font-family: 'Play', sans-serif;
    text-align:center;
}

.footer .row1{
    width:100%;
    margin:1% 0;
    padding:0.6% 0;
    color:gray;
    font-size:0.8em;
}

.footer .row1 a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
}

.footer .row1 a:hover{
    color:#fff;
}

.footer .row1 ul{
    width:100%;
}

.footer .row1 ul li{
    display:inline-block;
    margin:0 30px;
}

.footer .row1 a i{
    font-size:2em;
    margin:0 1%;
}

@media (max-width:720px){
    .footer{
        text-align:left;
        padding:5%;
    }
    .footer .row1 ul li{
        display:block;
        margin:10px 0;
        text-align:left;
    }
    .footer .row1 a i{
        margin:0 3%;
    }
}