table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}


#coffees{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.coffee {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    margin-left: auto;
    margin-bottom: 50px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: gray;
;

}
#coffeeRoast{
    display: flex;
    align-content: flex-end;
}
#roast-selection {
    background-color: gray;
}
#coffee-name {
    background-color: gray;
}
#newRoast-selection {
    background-color: gray;
}
#newCoffee-name {
    background-color: gray;

}
.forms2 {
    background-color: black ;
    background-color: rgba(0,0,0,.5);
    color: black;


}
.footer{
    background:#000;
    padding:30px 0;
    font-family: 'Play', sans-serif;
    text-align:center;
}

.footer .row1{
    width:100%;
    margin:1% 0;
    padding:0.6% 0;
    color:gray;
    font-size:0.8em;
}

.footer .row1 a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
}

.footer .row1 a:hover{
    color:#fff;
}

.footer .row1 ul{
    width:100%;
}

.footer .row1 ul li{
    display:inline-block;
    margin:0 30px;
}

.footer .row1 a i{
    font-size:2em;
    margin:0 1%;
}

@media (max-width:720px){
    .footer{
        text-align:left;
        padding:5%;
    }
    .footer .row1 ul li{
        display:block;
        margin:10px 0;
        text-align:left;
    }
    .footer .row1 a i{
        margin:0 3%;
    }
}

video {
    position: absolute;
    top: 0;
    left: 0;
    /*-o-object-fit: cover;*/
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.btn:hover {
    background-color: #45a049;
}

span.price {
    float: right;
    color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }
    .col-25 {
        margin-bottom: 20px;
    }
}